/*CSS that came with the responsive form (see form for details)
Found at https://www.w3schools.com/howto/howto_css_responsive_form.asp
Style inputs, select elements and textareas */
input[type=text],
input[type=password],
select,
textarea {
    width: 100%;
    height: 100%;
    padding: 6px;
    box-sizing: border-box;
    resize: vertical;
    background: #ffffff;
    border: none;
}

/* Style the label to display next to the inputs */
label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

/* Style the submit button */
input[type=submit] {
    width: 100%;
    height: 33.33%;
    background-color: #63ebb0;
    color: #707070;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    float: right;
    margin-top: 6px;
}

/* Style the container */
.container {
    background-color: #ffffff;
    padding: 10px;
    font-size: 0.8rem;
}

.invis {
    display: none;
}

/* Floating column for labels: 25% width */
.col-25 {
    float: left;
    width: 25%;
    height: 100%;

}

/* Floating column for inputs: 75% width */
.col-75 {
    float: left;
    width: 75%;
    height: 100%;

}

/* Floating column for inputs: 50% width */
.col-50 {
    float: left;
    width: 25%;
    height: 100%;
    margin-left: 25%;

}

.col-625 {
    float: left;
    width: 62.5%;
    height: 100%;
}

.col-125 {
    float: left;
    width: 12.5%;
    height: 100%;
}


.row-tall {
    height: 15vh;
}
.row-med {
    height: 7.5vh;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.tabbutton {
    width: 25%;
    height: 7vh;
    float: left;
    border: 2px solid #707070;
    font-size: 1.2vw;
    background-color: #ffffff;
    color: #707070;
}

.tabbutton:hover {
    background-color: #63ebb0;
}

th, td, tr{
    text-align: center;
    font-size: 1rem;
}

@media only screen and (max-width: 600px) {

    .col-25,
    .col-75,
    input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
    
    .col-25,
    .col-125,
    .col-625,
    .col-75 {
        width: 100%;
        height: auto;
        float: both;
    }

    textarea {
        height: 15vh;
    }

    form > .mobile-row {
        height: auto;
    }
}

@media only screen and (max-width: 600px) {
    .col-50{
        width: 100%;
        margin-left: 0;
    }
    .tabbutton{
        font-size: 3vw;
    }
}