/*
First of all, the colours I have decided to use in my Adobe XD prototype are: 
White:          #ffffff
Black:          #707070
Turquoise:      #63ebb0
These will be used in the website, too.
*/

/*Do this here once instead of in every single page!*/
/*Get fonts from google -- we can pull the fonts from google's CDN instead of hosting them locally to save on traffic and load times*/

/*@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&family=Source+Code+Pro&display=swap');*/

/*Or pull them locally for offline development/not relying on Google*/

@font-face{
    font-family: Source Code Pro;
    src: url("../fonts/Source_Code_Pro/SourceCodePro-Regular.ttf");
}

@font-face{
    font-family: Quicksand;
    src: url("../fonts/Quicksand/Quicksand-Medium.ttf");
}


/*Colour inheritance -- puts the cascading in cascading style sheets*/
html {
    color: #707070;
    cursor: crosshair;
}

body {
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom;
}

.wrapper {
    padding: 0px;
    padding-top: 14vh;
    opacity: 0.8;
    margin-left: 10vw;
    width: 80vw;
    font-family: 'Quicksand', sans-serif;
    height: 100vh;
}

/*need some nice fonts for the website, font inheritance can save some space here*/

header {
    font-family: 'Source Code Pro', monospace;
    text-align: center;
    font-size: 1.2vw;
    line-height: 7vh;
}

/*All the navbar stuff uses a single class and decendent selectors, this is much cleaner and also won't break other lists elseware on the page*/
/*Navbar needs to take up the whole page width*/
.navbar {
    width: 100%;
    opacity: 0.8;
    position: relative;
    z-index: 1;
}

/*Make the buttons turn the highlight colour when a user hovers over them: more for desktop use than mobile/tablet*/
.navbar :hover {
    background-color: #63ebb0;
}

/*The nav bar needs to display horizontally, except on mobile where I will override this:*/
.navbar > li {
    display: inline-block;
    width: 12.5%;
    border-style: solid;
    border-width: 2px;
    border-color: #707070;
    float: left;
    height: 7vh;
    background-color: #ffffff;
}

/*HTML links have purple underlines that I don't want by default*/
/*Inherit colour means I can change the colour of everything in one place easily.*/
.navbar > li > a {
    text-decoration: none;
    color: inherit;
}

/*One of these navlinks is special, and it has to be bigger*/
/*Originally this used an ID selector but first-child is much cleaner and simplifies the HTML*/
.navbar > li:first-child {
    width: 37.5%;
    text-align: left;
    padding-left: 1.6%;
}

/*The title of the website is very special and needs specific attributes*/
/*Again, selectors have replaced the ID system, which gives a much more general solution*/
header > nav > .navbar:first-child > li:first-child {
    width: 75%;
    text-align: center;
    padding: 0;
}

/*The dynamic content works in much the same way as the navbar*/
.dynamic {
    float: left;
    display: inline-block;
    border: 3px solid #444444;
    box-sizing: border-box;
    width: 23.75%;
    height: 40vh;
    margin: 1% 0% 0% 1%;
    background-color: #ffffff;
    border-radius: 1rem;
    cursor: pointer;
    box-shadow: 0px 0px 10px #000000;
}

.dynamic > h1 {
    padding-left: 1rem;
    padding-top: 0.75rem;
    padding-right: 1rem;
    font-size: 1.75rem;
}

.dynamic > p {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    font-size: 0.8rem;
    line-height: 1.25;
}

/*PHP will dynamically assign these classes where they are needed*/
.medium {
    width: 48.5%;
}

.large {
    width: 48.5%;
    height: 82vh;
}

.long {
    width: 98%;
}

.whole {
    width: 98%;
    height: 82vh;
}

.none {
    display: none;
}

/*PHP can dynamically assign this too -- for login purpose*/
.loginWindow {
    position: absolute;
    left: 0;
    width: 100vw;
    height: 85.75vh;
    display: block;
    bottom: 0px;
    overflow: clip;
    background-color: #ffffff;
    padding: 20px;
    font-size: 1rem;
}

#shareWithClass {
    position: fixed;
    width: 25%;
    height: auto;
    left: 37.5%;
    top: 14vh;
}

#mobileHeader {
    display: none;
    width: 100%;
    height: 7vh;
    color: #63ebb0;
    text-align: center;
    font-size: 5vh;
    font-family: 'Source Code Pro', 'Times New Roman';

}

#menuTab {
    font-size: 5rem;
    height: 0px;
    padding: 0px;
    border: 0px;
    line-height: 3rem;
}

/*make sure the footer dosen't get hung up on weird dynamic layouts*/
footer {
    float: left;
    width: 100%;
    clear: both;
}

footer > p {
    line-height: 3rem;
    color: #ffffff;
    text-align: center;
}

footer > p > a {
    text-decoration: inherit;
    color: inherit;
}

#google_translate_element {
    position: absolute !important;
    top:0;
    left:0;
    z-index: 1;
}
